
<%= @templates.each do |temp| %>
  <div class="template__actions">
    <div class="line-item__name">
      <%= temp.name %>
    </div>
    <%= link_to "<i class='bi bi-trash' 
                style='font-size: 1.5rem; color: 
                red;'></i>".html_safe,
                [temp],
                data: {"turbo-method": :delete},               
                form: { data: {turbo_frame: "_top" } },
                class:"btn btn--light staff_icon" %>

    <%= link_to "<i class='bi bi-pencil-square' 
                style='font-size: 1.5rem; color: 
                black;'></i>".html_safe,
                [:edit, temp],
                class:"btn btn--light staff_icon" %>
  </div>
<% end %>