<%= turbo_frame_tag staff_date do %>
  <div class="quote">
      <%= link_to l(staff_date.date, format: :long),
                    staff_date_path(staff_date),
                    data: { turbo_frame: "_top" } %>

      <div class="quote__actions">
        <%= link_to "<i class='bi bi-trash' 
                    style='font-size: 1.5rem; color: 
                    red;'></i>".html_safe,
                    staff_date,
                    data: {"turbo-method": :delete},               
                    form: { data: {turbo_frame: "_top" } },
                    class:"btn btn--light staff_icon",
                    id: "icon_date_delete" %>
        <%= link_to "<i class='bi bi-pencil-square' 
                    style='font-size: 1.5rem; color: 
                    black;'></i>".html_safe,
                    [:edit, staff_date],
                    class: "btn btn--light staff_icon",
                    id: "icon_date_edit" %>
      </div>
  </div>
<% end %>